@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4> You'll Be Glad You Shopped With Us</h4>
    <div> 
    <iframe width="600" height="600" src="https://dm0qx8t0i9gc9.cloudfront.net/watermarks/video/GTYSdDW/water-reflection-particles__PM.mp4"></iframe>
</div>